.selection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 90vw;
  margin:15% auto ;
  background-color: rgba(245, 245, 245, 0.856);
}

select{
  margin-top: 50px;
  width: 300px;
  height: 35px;
  background-color: #18ab29;
  color: #ffffff;
  border-radius: 5px;
  outline-style: none;
  padding-left: 20px;
}

.start-game{
  margin: 50px 0px;
  background-color:#44c767;
	border-radius: 28px;
	border: 1px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
}

.start-game:hover {
	background-color:#5cbf2a;
}

.start-game:active {
	position:relative;
  top:1px;
}